html {
    height: 100%;
}

body {
	background-color: #333;
    color: #eee;
	display: flex;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}



/**
 * Objetos
 */

.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 64px;
	width: 100%;
}

.title {
	font-size: 48pt;
	font-weight: bold;
	margin-left: 16px;
	text-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
	transition: color 0.2s, text-shadow 0.2s;
	user-select: none;
}

.title:hover {
	color: #00bfff;
}

.title:active {
	text-shadow: 0 0 8px rgba(0, 191, 255, 0.3);
}

.help {
	align-items: center;
	color: #444;
	cursor: pointer;
	display: flex;
	font-size: 38pt;
	justify-content: center;
	margin-right: 16px;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	transition: color 0.2s, text-shadow 0.2s;
	user-select: none;
}

.help:hover {
	color: #eee;
}

.help:active {
	color: #00bfff;
}

.help > span {
	font-size: 26pt;
	font-weight: bold;
	margin: 2px 0 -2px 0;
}

.help.active {
	color: #00bfff;
	text-shadow: 0 0 8px rgba(0, 191, 255, 0.3);
}

.help.active:hover {
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.help.active:active {
	color: #eee;
}

.leader {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	position: relative;
	width: 100%;
}

.page {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
	justify-content: center;
	left: 0;
	top: 0;
	position: absolute;
	transition: opacity 0.5s, visibility 0.5s;
	width: 100%;
}

.row {
	align-items: center;
	display: flex;
    flex-direction: row;
	justify-content: center;
	padding: 16px 0;
	width: 100%;
}

.col {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	margin: 0 16px;
}

.box {
	background-color: black;
	border-radius: 8px 8px 4px 4px;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6);
	position: relative;
	width: 100%;
}

.info {
	align-items: center;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	margin: 8px;
	margin-bottom: 4px;
	position: relative;
	text-align: center;
	user-select: none
}

.icon {
	margin-right: 8px;
}

.note {
	background-color: #333;
	border-radius: 4px;
	color: black;
	font-size: 11pt;
	font-weight: bold;
	left: -2px;
	padding: 2px 4px;
	position: absolute;
	transition: opacity 0.2s, visibility 0.2s;
}

.buttons {
	align-items: center;
	display: flex;
	justify-content: center;
	right: 0;
	position: absolute;
	transition: opacity 0.2s, visibility 0.2s;
}

.option {
	align-items: center;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
	color: #333;
	cursor: pointer;
	display: flex;
	justify-content: center;
	position: relative;
	transition: background-color 0.2s, color 0.2s;
	user-select: none;
}

.option:hover {
	color: #00bfff;
}

.option.danger:hover {
	color: red;
}

.option:active,
.option.danger:active {
	color: #eee;
}

.input {
	background-color: #333;
	border-radius: 1px;
	border: none;
	color: #eee;
	height: 100%;
	margin: 4px;
	padding: 8px;
	outline: none;
	overflow: auto;
	resize: none;
	transition: background-color 0.2s, color 0.2s;
}

.input:hover {
	background-color: #444;
}

.input:focus {
	background-color: #ccc;
	color: #333;
}

.param {
	background-color: black;
	border-radius: 4px 4px 8px 8px;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6);
	font-size: 10pt;
	padding: 4px;
	position: absolute;
	right: 0;
	top: calc(100% + 4px);
	transition: opacity 0.2s, visibility 0.2s;
	user-select: none;
}

.param > input {
	background: none;
	border: none;
	color: #eee;
	font-weight: bold;
	margin: none;
	padding: 2px;
	outline: none;
	text-align: right;
	width: 24px;
}

.text {
	cursor: default;
	font-size: 12pt;
	margin: 0 16px;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	user-select: none;
	width: 100%;
}

.measure {
	font-size: 16pt;
	font-weight: bolder;
}

.pars {
	background-color: #333;
	border-radius: 1px;
	box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.6);
	color: #eee;
	line-height: 125%;
	overflow-y: auto;
	margin: 4px;
	padding: 0 16px;
	text-align: justify;
}

.list > .item {
	align-items: baseline;
	display: flex;
	padding: 4px 0 4px 24px;
}

.list > .item > .item-marker {
	margin-right: 12px;
}

.contour {
	align-items: flex-start;
	display: flex;
	justify-content: center;
}

.set {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 8pt;
	justify-content: center;
	margin: 1px;
}

.alphabet,
.group {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.arrow {
	text-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
	color: #ccc;
	margin: 2px 0;
}

.char {
	align-items: center;
	border-radius: 50%;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.8);
	display: flex;
	height: 15px;
	justify-content: center;
	line-height: 8pt;
	margin: 1px;
	text-align: center;
	width: 15px;
}

.alphabet > .char {
	background-color: #ccc;
	color: #333;
}

.group > .char {
	background-color: #070707;
	color: #2e1;
	font-family: 'Courier New', Courier, monospace;
}

.bull {
	background-color: none;
	border: 1px solid #070707;
	border-radius: 50%;
	height: 1px;
	width: 1px;
}

.link {
	transition: color 0.2s, text-shadow 0.2s;
}

.link:active {
	color: #00bfff;
	text-shadow: 0 0 4px rgba(0, 191, 255, 0.3);
}

.link.normal {
	color: #00bfff;
}

#encrypted {
	color: #2e1;
	font-family: 'Courier New', Courier, monospace;
}

#encrypted:hover {
	background-color: #222;
}

#encrypted:focus {
	background-color: #070707;
}



/**
 * Modificadores
 */

.autosize {
	width: auto;
}

.distributed {
	justify-content: space-between;
}

.grow {
	flex-grow: 1;
}

.hidden {
	opacity: 0;
	visibility: hidden;
}

.lower {
	margin-top: 48px;
}

.no-select {
	user-select: none;
}

.push-left {
	margin-right: auto;
}

.push-right {
	margin-left: auto;
}

.push-top {
	margin-bottom: auto;
}

.unbreak {
	white-space: nowrap;
}



/**
 * Outros
 */

/* Retirado de: https://css-tricks.com/snippets/css/turn-off-number-input-spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}